.container {
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("../../../../../../assets/imgs/universo.jpg") no-repeat;
  background-size: cover;
  background-position: center;
}
